<button class="btn" mat-raised-button color="primary" (click)="goToAdd()">
    <mat-icon>
        <span class="material-icons-outlined">
            group_add
        </span>
    </mat-icon>
</button>
<br>
<router-outlet></router-outlet>
<br>
<b>
    <h2>List Users</h2>
</b>
<div class="box" fxLayout="row wrap">
    <div class="sbox" fxFlex="25%" *ngFor="let user of datas">
        <mat-card class="example-card">
            <mat-card-header>
                <img mat-card-avatar class="example-header-image" src="{{
                        'https://ui-avatars.com/api/?name=' +
                          user.title +
                          '&background=23f7b4&color=000'
                      }}" alt="">
                <mat-card-title>{{user.title}}</mat-card-title>
                <mat-card-subtitle>{{user.description}}</mat-card-subtitle>
            </mat-card-header>
            <img class="image" mat-card-image src={{user.image}} alt="Photo of a Shiba Inu">
            <!-- <mat-card-content>
                <p class="body">
                    {{user.description}}
                </p>
            </mat-card-content> -->
            <mat-card-actions>
                <button mat-button (click)="goToView(user._id)">
                    <mat-icon>
                        <span class="material-icons-outlined">
                            remove_red_eye
                        </span>
                    </mat-icon>
                </button>
                <button mat-button (click)="openDialog(user)">
                    <mat-icon aria-label="Example home icon">
                        <span class="material-icons-outlined">
                            edit
                        </span>
                    </mat-icon>
                </button>
                <button mat-button (click)="goToDelete(user._id)">
                    <mat-icon aria-label="Example home icon">
                        <span class="material-icons-outlined">
                            delete
                        </span>
                    </mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<!-- <router-outlet></router-outlet> -->
