.box {
  .sbox {
    margin-bottom: 25px;
    .example-card {
      max-width: 270px;
      .example-header-image {
        background-size: cover;
      }
    }
  }
}
.body {
  flex: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mat-card-subtitle {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mat-card-title {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn {
  margin-bottom: 30px;
}
.image {
  height: 250px;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
