<h2>fill your info</h2>
<div class="group">
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="example-form">
        <input type="file" formControlName="fileName" (change)="onFileChange($event)">
        <br>
        <br>
        <mat-form-field [style.width.px]=450 class="example-full-width" appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="Ex. title" value="">
            <mat-icon matSuffix>user</mat-icon>
            <mat-hint>
                <mat-error *ngIf="getTitle && getTitle.hasError('required')">
                    Title is required
                </mat-error>
                <mat-error *ngIf="
                getTitle && getTitle.errors?.minlength
                ">
                    Title must be at least <strong>4 Character</strong> or higher
                </mat-error>
            </mat-hint>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field [style.width.px]=450 appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" placeholder="Ex. description" value="">
            <mat-hint>
                <mat-error *ngIf="getDescription && getDescription.hasError('required')">
                    Description is required
                </mat-error>
            </mat-hint>
        </mat-form-field>
        <br>
        <br>
        <button type="submit" mat-stroked-button color="accent">submit</button>{{" "}}
        <button class="btn" mat-stroked-button color="primary" routerLink="../">
            Back
        </button>
    </form>
</div>
<br>
<br>
<br>