<div class="container">
    <div class="info">
        <h4>
            <img src={{userObj.image}} alt="">
        </h4>
    </div>
<!--    <span>username: {{userObj.title}}</span>-->
<!--    <h1>{{userObj.title}}</h1>-->
<!--    <div class="info">-->
<!--        <h2>{{userObj.description}}</h2>-->
<!--    </div>-->
<!--    <span style="float: right;">id: {{userObj._id}}</span>-->
<!--    <button mat-button color="primary" routerLink="../../">Back</button>-->
<!--</div>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!-- <h1>{{userObj | json}}</h1> -->
     <h2 id="title"> {{userObj.title}}</h2>
     <h2 class="inline">Id: </h2><h3  class="inline">{{userObj._id}}</h3><br/>
     <h2 class="inline">Description :</h2>
     <p id="dec">{{userObj.description}}</p>
    <button mat-button color="primary" routerLink="../../">Back</button>
</div>
