.container {
  width: 50%;
  margin: 0 auto;
  span {
    background-color: blanchedalmond;
    padding: 2px;
    border-radius: 5px;
  }
  .info {
    height: auto;
    // h2 {
    //   overflow: hidden;
    //   position: relative;
    //   line-height: 1.2em;
    //   max-height: 12em;
    //   margin-right: 1em;
    //   padding-right: 1em;
    // }
    // h2:before {
    //   content: "...";
    //   position: absolute;
    //   right: 0;
    //   bottom: 0;
    // }
    // h2:after {
    //   content: "";
    //   position: absolute;
    //   right: 0;
    //   width: 1em;
    //   height: 1em;
    //   margin-top: 0.2em;
    //   background: white;
    // }
  }
  button {
    float: left;
  }
  h4 {
    display:flex;
    align-items: center;
    justify-content: center;
    img {

      width: 200px;
      height: 200px;
    }
  }
}
#dec{
  text-align: justify;
}
.inline{
  display:inline;
}
#title{
  text-align: center;
}
