<div style="text-align: center;">
<h1 mat-dialog-title>Update Info {{data.id}}</h1>
<div class="box" fxLayout="row wrap" >
  <div class="sbox" style="margin: auto;">
          <img mat-card-avatar class="example-header-image" src="{{data.image}}" alt="">
</div>
</div>
<div mat-dialog-content>
    <form [formGroup]="formEdit" >
        <div style="margin: auto;"> <input type="file"  formControlName="fileName" (change)="onFileChange($event)"></div>
        <br><br>
        <mat-form-field [style.width.px]=450 class="example-full-width" appearance="fill">
            <mat-label [style.width.px]=450 >title</mat-label>
            <input matInput formControlName="title" placeholder="Ex. title" value="">
            <mat-hint>
                <mat-error *ngIf="getTitle && getTitle.hasError('required')">
                    title is required
                </mat-error>
                <mat-error *ngIf="
                getTitle && getTitle.errors?.minlength
                ">
                    title must be at least <strong>4 Character</strong> or higher
                </mat-error>
            </mat-hint>
        </mat-form-field>
        <mat-form-field [style.width.px]=450 style="text-align: justify;" class="example-full-width" appearance="fill">
            <mat-label >description</mat-label>
            <textarea matInput formControlName="description" placeholder="Ex. It makes me feel..."></textarea>
            <mat-hint>
                <mat-error *ngIf="getDescription && getDescription.hasError('required')">
                    description is required
                </mat-error>
            </mat-hint>
        </mat-form-field>
    </form>
</div>
<div style="margin: auto;">
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button cdkFocusInitial (click)="onSubmit()">submit</button>
</div>
</div>